/*custom font*/
/* @import url(https://fonts.googleapis.com/css?family=Montserrat); */
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-medium.woff2') format('woff2'),
         url('../fonts/montserrat-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;	
	/*background = gradient + image pattern combo*/
	background: 
		linear-gradient(rgba(108, 243, 153, 0.6), rgba(75, 211, 221, 0.6));
}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#form {
	width: 400px;
	margin: 100px auto;
	text-align: center;
}
#form fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
}

/*inputs*/
#form input{
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

#form input:focus {
	outline:1px #27AE60 solid;
	border:none;
	
}
.err_msg{
	color:red;
	padding:10px 0px;
	font-size: small;

}
/*buttons*/
#form .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#form .action-button:hover, #form .action-button:active {
	outline:2px #27AE60 solid;
	
}
#form .action-button:focus{
	outline:none;
}
/*headings*/
.title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 20px;
}
